<main>
    <div class="login">

        <p>Sign up with your details</p>
        <form (ngSubmit) = "onFormSubmit(f)" #f="ngForm">
            <input ngModel
                type="text" name="fullname" id="fullname" placeholder="John Doe">
            <input ngModel
                type="email" name="email" id="email" placeholder="admin@gmail.com">

            <input ngModel
                type="password" name="password" id="password" placeholder="password">

            <button  type="submit">Submit</button>
        </form>
    </div>
</main>